[package]
name = "melior"
description = "The rustic MLIR bindings in Rust"
version = "0.24.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/mlir-rs/melior"
documentation = "https://mlir-rs.github.io/melior/melior/"
keywords = ["mlir", "llvm"]
categories = ["api-bindings"]

[features]
ods-dialects = []
# Enable the BlockExt trait (requires ods feature)
helpers = ["ods-dialects"]

[dependencies]
melior-macro = { version = "0.17.0", path = "../macro" }
mlir-sys = "0.5.0"

[dev-dependencies]
indoc = "2.0.6"
insta = "1.43.0"
pretty_assertions = "1.4.1"
